.OntologyNav {}

.OntologyNav-ancestorsArea {
    flex: 0 0 auto;
}

.OntologyNav-termArea {
    flex: 0 0 auto;
}

.OntologyNav-childrenArea {
    flex: 1 1 0px;
    /* background-color: gray; */
}

.OntologyNav-title {
    flex: 0 0 auto;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}