.OntologyTerm {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    /* padding: 8px; */
    /* overflow-x: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* user-select: none; */
}

.OntologyTerm:hover {
    background-color: rgba(199, 237, 255, 0.5);
    /* cursor: pointer; */
}

.OntologyTerm-active,
.OntologyTerm:active {
    background-color: rgba(199, 237, 255, 1);
}

.OntologyTerm-name {
    padding: 8px;
    flex: 1 1 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.OntologyTerm-name:hover {
    background-color: rgba(199, 237, 255, 1);
    cursor: pointer;
}


.OntologyTerm-inspector {
    padding: 8px;
    flex: 0 0 3em;
    text-align: center;
}

.OntologyTerm-inspector:hover {
    background-color: rgba(199, 237, 255, 1);
    cursor: pointer;
}